body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #f4f4f4;
}

header {
  background: #35424a; /* Fondo oscuro */
  color: white; /* Cambiar a blanco */
  padding: 10px 0;
  text-align: center;
}

header h1 {
  color: white; /* Asegúrate de que el nombre se vea en blanco */
  margin: 0; /* Elimina el margen para que se alinee mejor */
}

header p {
  color: #e0e0e0; /* Color más claro para la descripción */
  margin-top: 5px; /* Un pequeño margen para separar */
}

section {
  background: #ffffff; /* Fondo blanco para las secciones */
  padding: 20px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #35424a; /* Mantiene el color del texto para h1 y h2 */
}

h2 {
  margin-top: 20px; /* Espacio adicional en la parte superior */
}

ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
}

ul li {
  background: #e2e2e2; /* Fondo gris claro para los elementos de la lista */
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #35424a; /* Fondo oscuro para el pie de página */
  color: white; /* Color del texto en blanco */
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px; /* Espacio superior */
}

